@font-face {
  font-family: 'Marydale';
  src: url('./Marydale.ttf');
}

@font-face {
  font-family: 'SentyTEA';
  src: url('./SentyTEA.ttf');
}

@font-face {
  font-family: 'Webmo';
  src: url('./Webmo.woff2');
}

* {
  font-family: 'Webmo';
}