.header {
  margin-top: 5rem;
  color: #fff;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .avatar {
      padding: 30px 0;
      object-fit: cover;
      filter: drop-shadow(0px 5px 5px #00000095);

      img {
        object-fit: cover;
      }

      animation: drop 500ms ease;
    }

    @keyframes drop {
      from {
        transform: translateY(-50%);
      }

      to {
        transform: translateY(0);
      }
    }


    .nickname {
      font-family: Marydale;

      a {
        text-decoration: none;

        h1 {
          margin: 0;
          letter-spacing: 8px;
          font-size: clamp(1.65rem, 2vw, 1.75rem);
          color: #fefefe;
          text-align: center;
          filter: drop-shadow(2.5px 2.5px 2px black);
        }
      }

    }

    .faithful {
      margin: 30px 0;
      letter-spacing: 3px;
      font-size: clamp(25px, 1.35vw, 1.75vw);
      color: #fefefe;
      text-align: center;
      filter: drop-shadow(2.5px 2.5px 2px black);
      font-family: SentyTEA;
    }
  }
}