.footer {
  width: 100%;
  margin: 65px 0;
  text-align: center;
  letter-spacing: .08rem;
  color: #fff;
  font-family: SentyTEA;

  .copyright {
    font-weight: bold;
    filter: drop-shadow(0 0 5px black);
    user-select: none;

    &:hover {
      cursor: pointer;
    }
  }

  .power {
    font-size: 10px;
    font-weight: bold;
    filter: drop-shadow(0 0 5px black);
    user-select: none;

    &:hover {
      cursor: pointer;
    }
  }
}