.footer {
  width: 100%;
  margin: 65px 0;
  text-align: center;
  letter-spacing: .08rem;
  color: #fff;

  P {
    font-weight: bold;
    margin-bottom: 0;
    font-family: SentyTEA;
    filter: drop-shadow(0 0 5px black);
    user-select: none;

    &:hover {
      cursor: pointer;
    }
  }
}