.player.isPlay {
  animation-play-state: running;
}

.player {
  position: fixed;
  right: 5%;
  bottom: 5%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotate 3s linear infinite;
  animation-play-state: paused;
  cursor: pointer;
  filter: drop-shadow(0px 0px 3px rgba(34, 40, 49, 0.699));

  .img {
    width: 100%;
  }

  .audio {
    display: none;
  }
}

@keyframes rotate {
  to {
    transform: rotate(365deg);
  }
}