@media screen and (max-width:540px) {
  div.timeline {
    width: 100vw;
    margin: 0;

    .timeline-item {
      justify-content: center;

      .line {
        display: none;
      }

      .timeline-date {
        display: none;
      }

      .timeline-dot {
        display: none;
      }

      .timeline-content {
        margin: auto;
        max-width: 90%;
        width: 100%;

        &::before {
          display: none;
        }

        .context {
          text-align: left;

          .art-info {
            justify-content: flex-start;
            flex-direction: row;
            flex-flow: row-reverse;

            .tag {
              margin-left: auto;
              margin-right: 0;
            }
          }
        }

      }
    }
  }
}

@media screen and (min-width: 540px) and (max-width:1169px) {
  div.timeline {
    width: 100%;
    margin: auto;
    align-items: center;

    .timeline-date {
      display: none !important;
    }

    .timeline-item {
      margin: 0;
      max-width: 50%;
      text-align: left !important;
      align-items: center;

      .timeline-content {
        min-width: 100%;
        margin-left: 80px;

        &:hover {
          transform: translateX(-10px);
        }

        .context {
          text-align: left;

          .art-info {
            justify-content: flex-start;
            flex-direction: row;
            flex-flow: row-reverse;

            .tag {
              margin-left: auto;
              margin-right: 0;
            }
          }
        }

      }
    }




    .date {
      display: inline-block;
    }
  }
}

@media only screen and (min-width: 1169px) {
  div.timeline {
    width: 1000px;
    margin: auto;

    .timeline-item {
      margin: 0;
      max-width: 50%;
    }



    .timeline-item:nth-of-type(2n + 2) {
      justify-content: flex-end;
      align-self: self-end;

      .line {
        left: 0%;
      }

      .timeline-dot {
        left: 0;
      }

      .timeline-content {
        align-self: self-start;
        margin-left: 60px;
        margin-right: 0;

        &::before {
          top: 16px;
          left: 0;
          right: 100%;
          height: 0;
          width: 0;
          transform: translateX(-100%);
          border: 10px solid transparent;
          border-right: 10px solid #ffffff;
        }

        .context {
          text-align: left;

          .art-info {
            display: flex;
            justify-content: flex-end;
            flex-direction: row-reverse;

            .tag {
              margin-right: 0;
              margin-left: auto;
            }
          }
        }
      }

      .date {
        display: inline-block;
        color: #333;
        margin-left: 0;
        overflow: hidden;
        @include ellipsis;
      }
    }


    .timeline-item {

      div.line {
        position: absolute;
        top: 0;
        left: 100%;
        transform: translateX(-50%);
        height: 100%;
        width: 4px;
        background: #d7e4ed;
      }

      div.timeline-dot {
        top: 18px;
        left: 100%;
        transform: translateX(-50%);
      }

      div.timeline-date {
        top: 0;
        left: 100%;
        margin-left: 40px;
        transform: translate(-50%, -5px);
        visibility: hidden;
      }

      div.timeline-content {
        align-self: self-end;
        justify-content: end;
        margin: 0;
        margin-right: 60px;



        &::before {
          top: 16px;
          right: 0;
          left: 100%;
          height: 0;
          width: 0;
          border: 10px solid transparent;
          border-left: 10px solid #ffffff;
        }
      }
    }
  }
}

.timeline {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 40px auto;
  height: auto;
  margin-left: 100px;
  font-family: oppo;

  .timeline-item {
    display: flex;
    justify-content: flex-start;
    padding-right: 30px;
    position: relative;
    padding: 30px 0;
    margin: 20px 0;
    width: 100%;
    transition: .3s ease-in-out;
    padding-top: 0;
    flex-direction: column;

    &:hover {
      .line {
        &::after {
          height: 100%;
          transition: .3s ease-in-out;
        }
      }

      .timeline-dot {
        transform: translate(-50%)scale(1.15);
        transition: .3s ease-in-out;
        transition-delay: .3s;
      }
    }

    // 线条
    .line {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-50%);
      height: 100%;
      width: 4px;
      background: #d7e4ed;
      transition: .3s ease-in-out;

      &::after {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 0%;
        width: 100%;
        background: deepskyblue;
        transition: .3s ease-in-out;

      }
    }

    // 原点
    .timeline-dot {
      position: absolute;
      top: 15px;
      left: 0;
      transform: translate(-50%);
      background: #2aa8e0;
      width: 20px;
      height: 20px;
      z-index: 999;
      border-radius: 50%;
      box-shadow: 0 0 0 2px white, inset 0 2px 0 rgb(0 0 0 / 8%), 0 3px 0 2px rgb(0 0 0 / 5%);
      transition: .3s ease-in-out;
    }

    // 日期
    .timeline-date {
      position: absolute;
      top: 0;
      left: 0%;
      transform: translate(-50%, -33px);
      display: inline-block;
      font-size: 15px;
      font-weight: 700;
    }

    // 内容
    .timeline-content {
      position: relative;
      background: #ffffff;
      border-radius: 0.25em;
      padding: 1em;
      box-shadow: 0 3px 0 #b1b1b1;
      color: #333;
      margin-left: 50px;
      max-width: 70%;
      display: flex;
      flex-wrap: wrap;

      * {
        &::selection {
          background-color: #2aa8e050;
          color: #333;
        }
      }

      .cover {
        @include flex-center;
        margin-bottom: 10px;
        box-sizing: border-box;
        overflow: hidden;
        flex-basis: 100%;
        flex-grow: 1;
        flex-shrink: 1;

        &:hover {
          img {
            transform: scale(1.15);
            transition: 1s ease-in-out;
          }
        }

        .ant-image {
          width: 100%;
          min-width: 100%;
          height: 100%;
          max-width: 100%;
          max-height: 200px;
          object-position: top;
          object-fit: cover;

          img {
            width: 100%;
            min-width: 100%;
            height: 100%;
            max-width: 100%;
            max-height: 200px;
            object-position: top;
            object-fit: cover;
            transition: 1s ease-in-out;
          }
        }
      }

      &::before {
        content: '';
        position: absolute;
        top: 16px;
        right: 100%;
        height: 0;
        width: 0;
        border: 10px solid transparent;
        border-right: 10px solid #ffffff;
      }

      .context {
        text-align: right;
        width: 100%;
        margin: 0 5px;

        .art-info {
          display: flex;
          flex-wrap: wrap !important;
          justify-content: flex-end;
          align-items: center;

          .tag {
            display: inline-block;
            padding: 0 10px;
            margin-right: auto;
            overflow: hidden;
            @include ellipsis;
            letter-spacing: 1.5px;
            background-color: #48dafb63;
            cursor: pointer;
            transition: .3s ease-in-out;
            order: 1;
            box-shadow: 2px 2px 2px #3333;
            @include flex-center;
            align-items: baseline;

            .iconfont {
              margin-right: 5px;
            }

            &:hover {
              box-shadow: 2px 2px 2px #3336;
              transition: .3s ease-in-out;
            }
          }

          .subtitle {
            @include ellipsis;
            display: inline-block;
            order: 1;
            flex-basis: 100%;
            font-weight: 400;
            font-weight: 500;
            font-size: 16px;
            color: rgb(34, 40, 49);

            &:hover {
              color: #ef4444;
              transition: all 0.5s;
            }
          }


          .desc {
            @include multi-ellipsis(3);
            margin-top: 15px;
            flex-basis: 100%;
            letter-spacing: 1px;
            color: rgb(122, 139, 154);
            order: 3;
          }

          .extra {
            flex-basis: 100%;
            margin-top: 10px;
            font-size: 13px;
            order: 4;

            span {
              &:not(:last-of-type) {
                margin-right: 20px;
              }

              transition: all 0.5s;
              cursor: pointer;

              &:hover {
                color: #ef4444;
                transition: all 0.5s;
              }

              display: inline-block;
            }
          }
        }


      }


      .more {
        cursor: pointer;
        user-select: none;
        margin: auto;
        display: inline-block;
        padding: 5px 20px;
        background-color: #333;
        // box-shadow: 0 3px 1px #b1b1b1;
        color: #fff;
        display: none;

        &:hover {
          padding: 5px 40px;
          border-radius: 5px;
          transition: padding .4s ease-in-out,
            border-radius .2s ease-in-out;
        }

        transition: padding .4s ease-in-out,
        border-radius .2s ease-in-out;
      }

    }
  }
}