@font-face {
  font-family: Marydale;
  font-weight: 400;
  font-display: auto;
  src: url('../font/Marydale.ttf');
}

@font-face {
  font-family: SentyTEA;
  font-weight: 400;
  font-display: auto;
  src: url('https://cdn.jsdelivr.net/gh/Redloney/CDN@1.0/static/SentyTEA.ttf');
}

@font-face {
  font-family: 'oppo';
  font-weight: 400;
  font-display: auto;
  src: url('https://cdn.jsdelivr.net/gh/zetheme/zetheme/fonts/opposans400.ttf')format("truetype");
}

@font-face {
  font-family: 'oppo';
  font-weight: 500;
  font-display: auto;
  src: url('https://cdn.jsdelivr.net/gh/zetheme/zetheme/fonts/opposans500.ttf')format("truetype");
}

@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");


// iconfont 

@font-face {
  font-family: 'iconfont';
  /* Project id 2518219 */
  src: url('//at.alicdn.com/t/font_2518219_behl8c3whlq.woff2?t=1631943528968') format('woff2'),
    url('//at.alicdn.com/t/font_2518219_behl8c3whlq.woff?t=1631943528968') format('woff'),
    url('//at.alicdn.com/t/font_2518219_behl8c3whlq.ttf?t=1631943528968') format('truetype');
}

.App {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background: #4CA1AF;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #006273, #00697b, #4CA1AF);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #006273, #00697b, #4CA1AF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


body {
  width: 100vw !important;

  &::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 8px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    background-color: #4CA1AF;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(45deg,
        rgba(255, 255, 255, 0.2) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.2) 50%,
        rgba(255, 255, 255, 0.2) 75%,
        transparent 75%,
        transparent);
  }


  &::-webkit-scrollbar-track {
    background: transparent !important;
  }
}

#emoji {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 320px;
  height: 120px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    background-color: #333;
    display: none;
  }

  li {
    font-size: 18px;
    padding: 5px;
    transform-origin: center;
    transition: 100ms linear;
    cursor: pointer;
    user-select: none;

    &:hover {
      transform: scale(1.25);
      transition: 100ms ease;
      background-color: #eee;
    }
  }
}